#vung1 {
  background-color: blue;
  color: yellow;
  height: 20px;
  border: 10px solid yellow;
}
#vung2 {
  background-color: yellow;
  color: red;
  height: 70px;
  border: 10px solid red;
}
#vung3 {
  background-color: red;
  color: white;
  height: 20px;
  border: 10px solid white;
}
